
#imagen1{
    width: 100vmax;
}

#imagen2 {
    width: 100vmax;
}

#imagen3 {
    width: 100vmax;
}

body header nav img {

    height: 150px;
    margin-left: 3vw;
    margin-right: 10vw;
}

.contenedorGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    
}


ul div img {
    height: 200px;
    width: 31vw;
  
}

ul li {
    list-style-type: none;
}

footer div h6 {
    display: inline;
}






